name: CI
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    # Job name is Test
    name: Test
    # This job runs on macOS
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Uses ruby
        uses: ruby/setup-ruby@v1.57.0
        with:
          ruby-version: 2.7.2
          bundler-cache: true
      - name: select xcode
        run: sudo xcode-select -s /Applications/Xcode_13.2.1.app
      - name: Build and test
        run: bundle exec fastlane scan --destination "${destination}" --scheme "ADIC-news"
        env:
          destination: ${{ matrix.destination }}
          DEVELOPER_DIR: ${{ matrix.xcode }}
